body{
    background: linear-gradient(90deg, turquoise, red);
}
#title{
    color: 	#00ff00;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 5px black;
    display: flex;
    justify-content: center;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
#display{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 310px;
    height: 40px;
    margin-bottom: 10px;
    padding-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.buttons{
    padding: 1px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    grid-template-rows: repeat(6, 50px);
}
#button_\={
    grid-column-start: 1;
    grid-column-end: 4;
}
button{
    background-color: deepskyblue;
    border: 2px solid black;
    border-radius: 10px;
}